# Teller API Configuration
TELLER_APP_ID=app_pn55bmnf8k4papve7o000
TELLER_CERT_PATH=./certificate.pem
TELLER_KEY_PATH=./private_key.pem
TELLER_ENV=sandbox  # sandbox, development, or production

# Database
DATABASE_URL=sqlite:///./fintrack.db

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_TELLER_APP_ID=app_pn55bmnf8k4papve7o000
NEXT_PUBLIC_TELLER_ENV=sandbox
